* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
}

.obj-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img {
    height: 225px;
    width: 583px;
    margin-top: 156px;  
}

p {
    color: white;
    font-size: 16px;
    margin-top: 60px;
    font-weight: 400;
}

.inputs {
    display: flex;
    margin-top: 14px;
    gap: 30px;
}

.input-value, .input-value-dois {
    background-color: #414140;
    color: #BEBEBE;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.btn-sortear {
    background-color: #AEC246;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 10px 80px;
    cursor: pointer;
    box-shadow: 0 18px 40px rgba(174, 195, 70, 0.35);
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .obj-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    img{
        height: 170px;
        width: 483px;
        margin-top: 156px;
    }

    .inputs {
        flex-direction: column;
        gap: 15px;
    }

    p {
        font-size: 20px;
    }

    .input-value, .input-value-dois {
        width: 100%;
    }
}